<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Данные о клиентах</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Таблица с данными о клиентах</h1>
    <form method="post" action="/exits">
        <button style="float: right">Вернуться обратно</button>
    </form>
    <form method="post" action="/client">
        <button onclick="" type="button" style="float: right">Добавить слиента</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Заказ</th>
            <th>Результат</th>
            <th>Изменения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${results}">
            <form method="post" action="/client">
            <td th:text="${client.id_client}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.surname}"></td>
            <td th:text="${client.patronymic}"></td>
            <td th:text="${client.orde}"></td>
            <td th:text="${client.result}"></td>
            <td>
                <input type="hidden" name="id" th:value="${client.id_client}"/>
                <button type="submit" name="action" value="del">Удалить</button> <button type="submit" name="action" value="update">Изменить</button>
                <br><button type="submit" name="action" value="select">Посмотреть</button>
            </td>
            </form>
        </tr>
        </tbody>
    </table>

</body>
</html>
